h3 P,span,footer{
    border: 12px solid rgb(242, 79, 79);
}
/*  for selecting a class .is used */
.greenElement{
    color: green;
}
/* for a id # is used */
#secondPara{
    color:rgb(10, 196, 233);
    background-color: rgb(12, 14, 12);
}
/* Grouping selector */
footer,span{
    background-color: chocolate;
}
div p,div p span{
    background-color: yellowgreen;
}