.Container{
    width: 950px;
    height: 400px;
    border: 10px solid rgba(170, 240, 8, 0.63);
    margin: 50px;
    padding: 20px; 
    margin:auto;
}
.item{
    border: 5px solid rgb(228, 5, 228);
    margin: 5px;
}
#Fruits{
    float: left;
    width: 440px;
}
#Computer{
    float: right;
    width: 440px;

}
#Stationary{
    float: left;
    width: 800px;
    margin: auto;
    clear: both;
}