.Container{
    width: 950px;
    height: 400px;
    border: 10px solid rgba(170, 240, 8, 0.63);
    margin: 50px;
    padding: 20px; 
    background-color: sandybrown;
    margin:auto;
}
.item{
    border: 5px solid rgb(228, 5, 228);
    margin: 5px;
}
#Fruits{
    float: left;
    width: 440px;
}
#Computer{
    float: right;
    width: 440px;

}
#Stationary{
    /* float: left; */
    width: 800px;
    margin: auto;
    clear: both;
}
p,h1,h3{
    text-align: center;

    /* Justify means fit means it shape should be exactly at start left and end at last no space and start and end of line*/
    /* text-align: justify; */
}